body {
	background: #58FAF4;
}

h3 {
	font-size: 1.75em;
}

table {
	border: 3px dotted black;
	padding: 10px;
}

a:link {
	color: blue;
}

a:visited {
color: purple;
}

td {
	text-align: center;
}

th {
	font-size: 1.25em;
}

#brethren {
	margin: 20px;
}

.alt {
	color: blue;
}

.quirks {
    margin: auto;
    width: 90%;
}

.trick {
	font-weight: bold;
}

#almost {
	font-style: italic;
}

#hunt {
	background-image: url(https://c5.staticflickr.com/9/8411/28835459444_a7188fa55d_b.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: impact;
	font-size: 1.5em;
	color: white;
	text-shadow: black 4px 4px;
}

@media screen and (min-width: 700px) {
  body {
    background-color: hotpink;
  }
}
@media screen and (max-width: 1000px) {
  #tdl {
	height: auto;
	max-width: 600px;
	width: 100%;  }
}